*{
    margin: 0;
    padding: 0;
}

body
{
    background-image: url('../img/backgroundtrangchu.jpg');
    background-size: cover;
    background-attachment: fixed;
}

h1
{
    font-size:45px;
    color:white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-group
{
    margin-top: 20px;
}

.form-control 
{
    background: rgba(0, 0, 0, 0.7);
    height: 40px;
    padding: 19px;
    font-size: 22px;
    color:white;
    
}

.btn
{
    background: transparent;
    font-size: 22px;
    border: 1px solid white;
    color:white;
    width: 100%;
}

img{
   max-width:30%;
   margin-top: 10px;
}

.fas
{
    font-size: 40px;
    margin-right: 10px;
    color: white;
}

.col-md-6
{
    margin-top: 80px;
    box-shadow: -1px -1px 60px 10px black;
    background: rgba(0, 0, 0, 0.6);
}

